.container-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content minmax(300px, 1fr) min-content;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "body"
    "footer";
}

.header {
  grid-area: header;
}
.body {
  grid-area: body;
}
.footer {
  grid-area: footer;
}
